Repository alloyify/anvil: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: fixed pre-commit hook
  .husky/pre-commit
Due: none

chore: added format command
  README.md
  package.json
Due: prettier --write

chore: added jest, tests linting
  .eslintrc.js
  .gitignore
  jest.config.js
  package.json
  packages/anvil/__test__/noop.spec.ts
  packages/anvil/package.json
  packages/anvil/tsconfig.eslint.json
  packages/anvil/tsconfig.json
  pnpm-lock.yaml
  tsconfig.eslint.json
  tsconfig.jest.json
  tsconfig.json
  turbo.json
Due: eslint --fix, prettier --write

feat(anvil): added GeneratorsRunner
  package.json
  packages/anvil/LICENSE
  packages/anvil/index.ts
  packages/anvil/lib/index.ts
  packages/anvil/lib/runner/generators.runner.ts
  packages/anvil/lib/runner/index.ts
  packages/anvil/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: added schematics and devkit packages
  package.json
  packages/anvil/test/noop.spec.ts
  packages/devkit/LICENSE
  packages/devkit/lib/generators/generators.runner.ts
  packages/devkit/lib/generators/index.ts
  packages/devkit/lib/index.ts
  packages/devkit/package.json
  packages/devkit/test/noop.spec.ts
  packages/devkit/tsconfig.eslint.json
  packages/devkit/tsconfig.json
  packages/schematics/LICENSE
  packages/schematics/lib/generators.json
  packages/schematics/lib/generators/index.ts
  packages/schematics/lib/generators/turborepo/index.ts
  packages/schematics/lib/generators/turborepo/schema.json
  packages/schematics/lib/generators/turborepo/schema.ts
  packages/schematics/lib/generators/turborepo/turborepo.ts
  packages/schematics/lib/index.ts
  packages/schematics/package.json
  packages/schematics/test/noop.spec.ts
  packages/schematics/tsconfig.eslint.json
  packages/schematics/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: added boot, clean, build:force to the scripts
  .eslintrc.js
  package.json
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/turborepo/generate-turborepo.command.ts
  packages/anvil/lib/constants.ts
  packages/anvil/lib/utils/index.ts
  packages/anvil/package.json
  packages/devkit/lib/common/index.ts
  packages/devkit/lib/common/logger.ts
  packages/devkit/lib/constants.ts
  packages/devkit/lib/generators/index.ts
  packages/devkit/lib/generators/nx.devkit.ts
  packages/devkit/lib/interfaces/index.ts
  packages/devkit/lib/interfaces/transformed-names.type.ts
  packages/devkit/package.json
  packages/schematics-turborepo/lib/constants.ts
  packages/schematics-turborepo/lib/generators/package/files/package.json.__tmpl__
  packages/schematics-turborepo/lib/generators/package/helpers/create-files.ts
  packages/schematics-turborepo/lib/generators/package/package.ts
  packages/schematics-turborepo/lib/generators/package/schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(anvil): started turborepo package generator
  package.json
  packages/anvil/lib/commands/turborepo/generate-turborepo.command.ts
  packages/anvil/lib/commands/turborepo/interfaces/generate-turborepo-package.options.ts
  packages/anvil/lib/commands/turborepo/interfaces/index.ts
  packages/anvil/lib/constants.ts
  packages/anvil/package.json
  packages/devkit/lib/generators.runner.ts
  packages/schematics-turborepo/lib/generators/package/files/package.json.__tmpl__
  packages/schematics-turborepo/lib/generators/package/files/package.json__tmpl__
  packages/schematics-turborepo/lib/generators/package/helpers/create-files.ts
  packages/schematics-turborepo/lib/generators/package/helpers/index.ts
  packages/schematics-turborepo/lib/generators/package/helpers/transform-options.ts
  packages/schematics-turborepo/lib/generators/package/index.ts
  packages/schematics-turborepo/lib/generators/package/package.ts
  packages/schematics-turborepo/lib/generators/package/schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: added pino logger
  package.json
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/turborepo/generate-turborepo.command.ts
  packages/anvil/lib/constants.ts
  packages/anvil/lib/utils/index.ts
  packages/anvil/lib/utils/logger/index.ts
  packages/anvil/lib/utils/logger/logger.options.ts
  packages/anvil/lib/utils/logger/logger.ts
  packages/anvil/package.json
  packages/devkit/lib/common/index.ts
  packages/devkit/lib/common/logger.factory.ts
  packages/devkit/lib/common/logger.ts
  packages/devkit/lib/common/resolve-workspace.util.ts
  packages/devkit/lib/common/yaml.loaders.ts
  packages/devkit/lib/constants.ts
  packages/devkit/package.json
  packages/schematics-turborepo/lib/generators/package/helpers/create-files.helper.ts
  packages/schematics-turborepo/lib/generators/package/helpers/index.ts
  packages/schematics-turborepo/lib/generators/package/helpers/transform-options.helper.ts
  packages/schematics-turborepo/lib/generators/package/helpers/validate-options.helper.ts
  packages/schematics-turborepo/lib/generators/package/package.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(devkit): added pino logger, and pino-pretty
  package.json
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/turborepo/generate-turborepo.command.ts
  packages/anvil/lib/utils/logger.ts
  packages/anvil/lib/utils/logger/index.ts
  packages/anvil/lib/utils/logger/logger.ts
  packages/anvil/package.json
  packages/devkit/lib/common/index.ts
  packages/devkit/lib/common/logger.factory.ts
  packages/devkit/lib/constants.ts
  packages/devkit/lib/generators.runner.ts
  packages/devkit/lib/index.ts
  packages/devkit/lib/interfaces/generators-runner-options.interface.ts
  packages/devkit/lib/interfaces/index.ts
  packages/devkit/lib/logger/index.ts
  packages/devkit/lib/logger/logger.factory.ts
  packages/devkit/lib/logger/logger.options.ts
  packages/devkit/package.json
  packages/schematics-turborepo/lib/constants.ts
  packages/schematics-turborepo/lib/generators/package/helpers/validate-options.helper.ts
  packages/schematics-turborepo/lib/generators/package/package.ts
  packages/schematics-turborepo/lib/generators/package/schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(devkit): finished with the logger
  package.json
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/turborepo/generate-turborepo.command.ts
  packages/devkit/lib/common/index.ts
  packages/devkit/lib/common/json.loaders.ts
  packages/devkit/lib/common/resolve-space-type.util.ts
  packages/devkit/lib/common/resolve-workspace.util.ts
  packages/devkit/lib/common/yaml.loaders.ts
  packages/devkit/lib/file-loaders/cwd-configs.loaders.ts
  packages/devkit/lib/file-loaders/index.ts
  packages/devkit/lib/file-loaders/json.loaders.ts
  packages/devkit/lib/file-loaders/yaml.loaders.ts
  packages/devkit/lib/generators.runner.ts
  packages/devkit/lib/index.ts
  packages/devkit/lib/interfaces/cwd-configs.interface.ts
  packages/devkit/lib/interfaces/cwd-space.type.ts
  packages/devkit/lib/interfaces/generator-base-options.interface.ts
  packages/devkit/lib/interfaces/generators-runner-options.interface.ts
  packages/devkit/lib/interfaces/index.ts
  packages/devkit/lib/logger/logger-pretty.options.ts
  packages/devkit/lib/logger/logger.factory.ts
  packages/devkit/lib/pnpm/resolve-workspace.util.ts
  packages/schematics-turborepo/lib/generators/package/helpers/validate-options.helper.ts
  packages/schematics-turborepo/lib/generators/package/package.ts
  packages/schematics-turborepo/lib/generators/package/schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(devkit): added resolveWorkspace
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/turborepo/generate-turborepo.command.ts
  packages/anvil/lib/utils/package-json.loader.ts
  packages/devkit/lib/constants.ts
  packages/devkit/lib/file-loaders/cwd-configs.loaders.ts
  packages/devkit/lib/file-loaders/json.loaders.ts
  packages/devkit/lib/file-loaders/yaml.loaders.ts
  packages/devkit/lib/generators/index.ts
  packages/devkit/lib/index.ts
  packages/devkit/lib/nx/index.ts
  packages/devkit/lib/pnpm/index.ts
  packages/devkit/lib/pnpm/resolve-workspace.util.ts
  packages/schematics-turborepo/lib/generators/package/helpers/index.ts
  packages/schematics-turborepo/lib/generators/package/helpers/transform-names.helper.ts
  packages/schematics-turborepo/lib/generators/package/helpers/validate-cwd-configs.helper.ts
  packages/schematics-turborepo/lib/generators/package/helpers/validate-options.helper.ts
  packages/schematics-turborepo/lib/generators/package/package.ts
Due: eslint --fix

fix: test comand and coverage
  jest.config.js
  package.json
  packages/anvil/jest.config.js
  packages/anvil/tsconfig.jest.json
  packages/devkit/jest.config.js
  packages/devkit/tsconfig.jest.json
  packages/schematics-turborepo/jest.config.js
  packages/schematics-turborepo/tsconfig.jest.json
  pnpm-lock.yaml
  tsconfig.jest.json
  turbo.json
Due: eslint --fix, prettier --write

refactor(devkit): pnpm-workspace.util
  packages/devkit/lib/constants.ts
  packages/devkit/lib/pnpm/index.ts
  packages/devkit/lib/pnpm/pnpm-workspace.util.ts
  pnpm-lock.yaml
Due: eslint --fix

feat(devkit): load anvil config file
  .eslintrc.js
  anvil.json
  packages/devkit/lib/constants.ts
  packages/devkit/lib/file-loaders/anvil-config.loader.ts
  packages/devkit/lib/file-loaders/cwd-configs.loaders.ts
  packages/devkit/lib/file-loaders/index.ts
  packages/devkit/lib/file-loaders/json.loaders.ts
  packages/devkit/lib/file-loaders/yaml.loaders.ts
  packages/devkit/lib/interfaces/anvil-config.interface.ts
  packages/devkit/lib/interfaces/cwd-configs.interface.ts
  packages/devkit/lib/interfaces/index.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

feat(devkit): validate and merge anvil config
  anvil.json
  packages/devkit/lib/constants.ts
  packages/devkit/lib/file-loaders/anvil-config.loader.ts
  packages/devkit/lib/interfaces/anvil-config.interface.ts
  packages/devkit/package.json
  packages/schematics-turborepo/lib/generators/package/files/LICENSE__tmpl__
  packages/schematics-turborepo/lib/generators/package/files/jest.config.js__tmpl__
  packages/schematics-turborepo/lib/generators/package/files/lib/index.ts__tmpl__
  packages/schematics-turborepo/lib/generators/package/files/package.json__tmpl__
  packages/schematics-turborepo/lib/generators/package/files/test/noop.spec.ts__tmpl__
  packages/schematics-turborepo/lib/generators/package/files/tsconfig.eslint.json__tmpl__
  packages/schematics-turborepo/lib/generators/package/files/tsconfig.jest.json__tmpl__
  packages/schematics-turborepo/lib/generators/package/files/tsconfig.json__tmpl__
  packages/schematics-turborepo/lib/generators/package/helpers/create-files.helper.ts
  packages/schematics-turborepo/lib/generators/package/helpers/transform-names.helper.ts
  packages/schematics-turborepo/lib/generators/package/package.ts
  packages/schematics-turborepo/lib/generators/package/schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: package generator - added options
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/turborepo/generate-turborepo.command.ts
  packages/anvil/lib/commands/turborepo/interfaces/generate-turborepo-package.options.ts
  packages/anvil/lib/constants.ts
  packages/anvil/lib/utils/get-command-common-options.util.ts
  packages/anvil/lib/utils/index.ts
  packages/anvil/package.json
  packages/devkit/lib/constants.ts
  packages/devkit/lib/file-loaders/anvil-config.loader.ts
  packages/devkit/lib/file-loaders/cwd-configs.loaders.ts
  packages/devkit/lib/file-loaders/yaml.loaders.ts
  packages/devkit/lib/interfaces/anvil-config.interface.ts
  packages/devkit/lib/interfaces/cwd-configs.interface.ts
  packages/devkit/lib/interfaces/generator-base-options.interface.ts
  packages/devkit/lib/interfaces/generators-runner-options.interface.ts
  packages/devkit/lib/pnpm/index.ts
  packages/devkit/lib/pnpm/pnpm-workspace.util.ts
  packages/devkit/lib/pnpm/resolve-package-access.util.ts
  packages/schematics-turborepo/lib/generators/package/constants.ts
  packages/schematics-turborepo/lib/generators/package/files/package.json__tmpl__
  packages/schematics-turborepo/lib/generators/package/helpers/create-files.helper.ts
  packages/schematics-turborepo/lib/generators/package/helpers/index.ts
  packages/schematics-turborepo/lib/generators/package/helpers/prepare-options.helper.ts
  packages/schematics-turborepo/lib/generators/package/helpers/transform-names.helper.ts
  packages/schematics-turborepo/lib/generators/package/helpers/validate-cwd-configs.helper.ts
  packages/schematics-turborepo/lib/generators/package/package.ts
  packages/schematics-turborepo/lib/generators/package/schema.json
  packages/schematics-turborepo/lib/generators/package/schema.ts
  packages/schematics-turborepo/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(anvil): changed turborepo package generator name
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/turborepo/index.ts
  packages/anvil/lib/commands/turborepo/turborepo-package.command.ts
Due: eslint --fix

feat(devkit): added npmlog for anvil console log
  .eslintrc.js
  package.json
  packages/anvil/lib/commands/turborepo/turborepo-package.command.ts
  packages/devkit/lib/logger/logger-pretty.options.ts
  packages/devkit/lib/logger/logger.factory.ts
  packages/devkit/package.json
  packages/schematics-turborepo/lib/generators/package/package.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(anvil): added some logging
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/turborepo/turborepo-package.command.ts
Due: eslint --fix

chore: added commitizen
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: changed the commit command
  package.json
Due: prettier --write

chore: installed changesets
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(github): added the test workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests.yml
Due: none

ci(github): added the release workflow
  .github/workflows/release.yml
  .github/workflows/tests.yml
  package.json
Due: prettier --write

chore: changeset
  .changeset/wet-dogs-cry.md
Due: none

ci(github): updated the release workflow
  .github/workflows/release.yml
Due: none

ci(github): updated ci:version command
  package.json
Due: prettier --write

chore: updated gitignore
  .gitignore
Due: none

ci(github): update the release workflow
  .github/workflows/release.yml
Due: none

chore: changeset
  .changeset/shiny-coats-chew.md
Due: none

chore(github): updated the release workflow
  .github/workflows/release.yml
Due: none

chore: updated workflows
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore(github): updated the release workflow
  .github/workflows/release.yml
  packages/anvil/package.json
  packages/devkit/package.json
  packages/schematics-turborepo/package.json
Due: prettier --write

chore: added readme files
  packages/anvil/README.md
  packages/devkit/README.md
  packages/schematics-turborepo/README.md
Due: none

chore: release
  .changeset/witty-cheetahs-joke.md
Due: none

feat(schematics-turborepo): added README.md generation
  packages/schematics-turborepo/lib/generators/package/files/README.md__tmpl__
Due: none

chore: pre-commit hook is back
  .husky/pre-commit
Due: none

feat(anvil): scaffolded turborepo generation command
  .eslintrc.js
  anvil.json
  packages/.gitkeep
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/turborepo/index.ts
  packages/anvil/lib/commands/turborepo/interfaces/generate-turborepo-options.interface.ts
  packages/anvil/lib/commands/turborepo/interfaces/generate-turborepo-package-options.interface.ts
  packages/anvil/lib/commands/turborepo/interfaces/index.ts
  packages/anvil/lib/commands/turborepo/turborepo-package.command.ts
  packages/anvil/lib/commands/turborepo/turborepo.command.ts
  packages/anvil/lib/constants.ts
  packages/devkit/lib/constants.ts
  packages/devkit/lib/file-loaders/anvil-config.loader.ts
  packages/devkit/lib/file-loaders/cwd-configs.loaders.ts
  packages/devkit/lib/interfaces/anvil-config.interface.ts
  packages/devkit/lib/interfaces/cwd-configs.interface.ts
  packages/devkit/lib/pnpm/index.ts
  packages/devkit/lib/pnpm/package-props-resolvers.util.ts
  packages/devkit/lib/pnpm/resolve-package-access.util.ts
  packages/schematics-turborepo/lib/generators.json
  packages/schematics-turborepo/lib/generators/index.ts
  packages/schematics-turborepo/lib/generators/package/schema.ts
  packages/schematics-turborepo/lib/generators/turborepo/files/anvil.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/helpers/create-files.helper.ts
  packages/schematics-turborepo/lib/generators/turborepo/helpers/index.ts
  packages/schematics-turborepo/lib/generators/turborepo/helpers/prepare-options.helper.ts
  packages/schematics-turborepo/lib/generators/turborepo/index.ts
  packages/schematics-turborepo/lib/generators/turborepo/schema.json
  packages/schematics-turborepo/lib/generators/turborepo/schema.ts
  packages/schematics-turborepo/lib/generators/turborepo/turborepo.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: packages/**/*.{js,ts}
  prettier --write: any of: *.json
