Repository alloyify/anvil: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(schematics-turborepo): added files templates to turbo generator
  packages/anvil/lib/commands/turborepo/turborepo.command.ts
  packages/devkit/lib/constants.ts
  packages/schematics-turborepo/lib/generators/package/files/package.json__tmpl__
  packages/schematics-turborepo/lib/generators/package/helpers/prepare-options.helper.ts
  packages/schematics-turborepo/lib/generators/package/schema.ts
  packages/schematics-turborepo/lib/generators/turborepo/files/.eslintrc.js__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/.gitignore__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/.lintstagedrc__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/.prettierrc__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/README.md__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__changesetFolder__/config.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__githubFolder__/PULL_REQUEST_TEMPLATE.md__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__githubFolder__/workflows/release.yml__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__githubFolder__/workflows/tests.yml__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__huskyFolder__/pre-commit__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__workspace__/.gitkeep__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/jest.config.js__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/package.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/pnpm-workspace.yaml__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/tsconfig.eslint.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/tsconfig.jest.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/tsconfig.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/turbo.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/helpers/create-files.helper.ts
  packages/schematics-turborepo/lib/generators/turborepo/helpers/prepare-options.helper.ts
  packages/schematics-turborepo/lib/generators/turborepo/schema.ts
  packages/schematics-turborepo/lib/generators/turborepo/turborepo.ts
  packages/schematics-turborepo/package.json
Due: eslint --fix, prettier --write

feat(schematics-turborepo): added scripts after generating files in turbo generator
  packages/schematics-turborepo/lib/generators/turborepo/turborepo.ts
Due: eslint --fix

refactor(schematics-turborepo): updated scripts after generating files in turbo generator
  packages/schematics-turborepo/lib/generators/turborepo/turborepo.ts
Due: eslint --fix

chore: changeset
  .changeset/gorgeous-bulldogs-shop.md
Due: none

feat(schematics-nx): added package
  packages/anvil/lib/constants.ts
  packages/schematics-nx/LICENSE
  packages/schematics-nx/README.md
  packages/schematics-nx/jest.config.js
  packages/schematics-nx/lib/generators.json
  packages/schematics-nx/lib/generators/index.ts
  packages/schematics-nx/lib/index.ts
  packages/schematics-nx/package.json
  packages/schematics-nx/test/noop.spec.ts
  packages/schematics-nx/tsconfig.eslint.json
  packages/schematics-nx/tsconfig.jest.json
  packages/schematics-nx/tsconfig.json
  packages/schematics-turborepo/lib/generators/package/files/package.json__tmpl__
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/spicy-worms-sing.md
Due: none

fix(schematics-nx): generators index exports
  packages/schematics-nx/lib/generators/index.ts
Due: eslint --fix

chore: changeset
  .changeset/large-tips-bathe.md
Due: none

chore: changeset
  .changeset/loud-dots-deny.md
Due: none

chore: changeset
  .changeset/warm-donuts-kick.md
Due: none

feat(schematics-nx): scaffolded workspace generator
  packages/schematics-nx/lib/generators.json
  packages/schematics-nx/lib/generators/index.ts
  packages/schematics-nx/lib/generators/workspace/index.ts
  packages/schematics-nx/lib/generators/workspace/schema.json
  packages/schematics-nx/lib/generators/workspace/schema.ts
  packages/schematics-nx/lib/generators/workspace/workspace.ts
  packages/schematics-nx/package.json
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__changeset/config.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__github/PULL_REQUEST_TEMPLATE.md__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__github/workflows/release.yml__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__github/workflows/tests.yml__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__husky/pre-commit__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/helpers/create-files.helper.ts
  packages/schematics-turborepo/lib/generators/turborepo/helpers/prepare-options.helper.ts
  packages/schematics-turborepo/lib/generators/turborepo/schema.ts
  packages/schematics-turborepo/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(anvil): added generate nx workspace command
  .github/workflows/tests.yml
  .husky/pre-commit
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/index.ts
  packages/anvil/lib/commands/nx/index.ts
  packages/anvil/lib/commands/nx/interfaces/generate-nx-workspace-options.interface.ts
  packages/anvil/lib/commands/nx/interfaces/index.ts
  packages/anvil/lib/commands/nx/nx-workspace.command.ts
  packages/anvil/lib/commands/turborepo/turborepo.command.ts
  packages/anvil/lib/constants.ts
  packages/anvil/package.json
  packages/schematics-nx/lib/generators.json
  packages/schematics-nx/lib/generators/workspace/files/tsconfig.base.json__tmpl__
  packages/schematics-nx/lib/generators/workspace/helpers/create-files.helper.ts
  packages/schematics-nx/lib/generators/workspace/helpers/index.ts
  packages/schematics-nx/lib/generators/workspace/helpers/prepare-options.helper.ts
  packages/schematics-nx/lib/generators/workspace/workspace.ts
  packages/schematics-nx/package.json
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__github/workflows/tests.yml__tmpl__
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(schematics-nx): finished with the file templates
  package.json
  packages/anvil/lib/commands/nx/interfaces/generate-nx-workspace-options.interface.ts
  packages/anvil/lib/commands/nx/nx-workspace.command.ts
  packages/devkit/lib/file-loaders/anvil-config.loader.ts
  packages/devkit/lib/generators.runner.ts
  packages/devkit/package.json
  packages/schematics-nx/lib/generators/workspace/files/README.md__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/__dot__editorconfig
  packages/schematics-nx/lib/generators/workspace/files/__dot__eslintrc.json__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/__dot__github/PULL_REQUEST_TEMPLATE.md__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/__dot__github/workflows/tests.yml__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/__dot__gitignore__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/__dot__husky/pre-commit
  packages/schematics-nx/lib/generators/workspace/files/__dot__npmrc
  packages/schematics-nx/lib/generators/workspace/files/__dot__prettierignore
  packages/schematics-nx/lib/generators/workspace/files/__dot__prettierrc
  packages/schematics-nx/lib/generators/workspace/files/apps/__dot__gitkeep
  packages/schematics-nx/lib/generators/workspace/files/jest.config.ts__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/jest.preset.js__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/libs/__dot__gitkeep
  packages/schematics-nx/lib/generators/workspace/files/nx.json__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/package.json__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/pnpm-workspace.yaml__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/tools/generators/__dot__gitkeep
  packages/schematics-nx/lib/generators/workspace/files/tools/tsconfig.tools.json__tmpl__
  packages/schematics-nx/lib/generators/workspace/files/workspace.json__tmpl__
  packages/schematics-nx/lib/generators/workspace/helpers/prepare-options.helper.ts
  packages/schematics-nx/lib/generators/workspace/schema.ts
  packages/schematics-nx/lib/generators/workspace/workspace.ts
  packages/schematics-turborepo/lib/generators/package/files/LICENSE
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__eslintrc.js__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__github/PULL_REQUEST_TEMPLATE.md__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__gitignore
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__husky/pre-commit
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__lintstagedrc
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__prettierrc
  packages/schematics-turborepo/lib/generators/turborepo/files/__workspace__/__dot__gitkeep
  packages/schematics-turborepo/lib/generators/turborepo/files/package.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/turborepo.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(anvil): added GenerateNxAppCommand
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/nx/index.ts
  packages/anvil/lib/commands/nx/interfaces/generate-nx-app-options.interface.ts
  packages/anvil/lib/commands/nx/interfaces/index.ts
  packages/anvil/lib/commands/nx/nx-app.command.ts
  packages/anvil/lib/commands/nx/nx-workspace.command.ts
  packages/anvil/lib/commands/turborepo/turborepo-package.command.ts
  packages/anvil/lib/commands/turborepo/turborepo.command.ts
  packages/anvil/lib/constants.ts
  packages/anvil/lib/utils/index.ts
  packages/anvil/lib/utils/run-prompts.util.ts
  packages/schematics-nx/lib/generators/application/application.ts
  packages/schematics-nx/lib/generators/application/index.ts
  packages/schematics-nx/lib/generators/application/schema.json
  packages/schematics-nx/lib/generators/application/schema.ts
  packages/schematics-nx/lib/generators/workspace/schema.json
  packages/schematics-turborepo/lib/generators/package/schema.json
  packages/schematics-turborepo/lib/generators/turborepo/schema.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/long-cherries-trade.md
Due: none

feat(anvil): added digest command
  .github/workflows/release.yml
  .gitignore
  packages/anvil/lib/bin/anvil.ts
  packages/anvil/lib/commands/turborepo/digest.command.ts
  packages/anvil/lib/commands/turborepo/index.ts
  packages/anvil/lib/constants.ts
  packages/anvil/package.json
  packages/devkit/lib/constants.ts
  packages/devkit/lib/dependencies.list.ts
  packages/devkit/lib/file-loaders/cwd-configs.loaders.ts
  packages/devkit/lib/file-loaders/dot-anvil-config.loader.ts
  packages/devkit/lib/file-loaders/index.ts
  packages/devkit/lib/interfaces/cwd-configs.interface.ts
  packages/devkit/lib/interfaces/dot-anvil-config.interface.ts
  packages/devkit/lib/interfaces/index.ts
  packages/schematics-nx/lib/generators/application/files/http/app.module.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/http/config/app.config.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/hybrid/app.module.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/hybrid/config/app.config.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/hybrid/config/nats.config.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/microservice/app.module.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/microservice/config/app.config.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/microservice/config/nats.config.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/microservice/main.ts__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__anvil.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__gitignore
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: updated workflows
  .github/workflows/release.yml
  .github/workflows/tests.yml
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__github/workflows/release.yml__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__github/workflows/tests.yml__tmpl__
Due: none

feat(anvil): added --install flag to digest command
  packages/anvil/lib/commands/turborepo/digest.command.ts
  packages/anvil/lib/commands/turborepo/interfaces/index.ts
  packages/anvil/lib/commands/turborepo/interfaces/run-turborepo-digest-options.interface.ts
Due: eslint --fix

style: clean up
  packages/anvil/lib/commands/turborepo/digest.command.ts
  packages/anvil/lib/index.ts
  packages/schematics-nx/README.md
Due: eslint --fix

chore: updated deps
  packages/devkit/lib/dependencies.list.ts
  packages/schematics-nx/lib/generators/application/application.ts
  packages/schematics-nx/lib/generators/application/files/http/config/app.config.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/hybrid/config/app.config.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/hybrid/config/nats.config.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/microservice/config/app.config.ts__tmpl__
  packages/schematics-nx/lib/generators/application/files/microservice/config/nats.config.ts__tmpl__
Due: eslint --fix

feat(anvil): digest command - added copy param
  package.json
  packages/anvil/lib/commands/turborepo/digest.command.ts
  packages/anvil/lib/commands/turborepo/interfaces/run-turborepo-digest-options.interface.ts
  packages/anvil/package.json
  packages/schematics-nx/lib/generators/application/application.ts
  packages/schematics-turborepo/lib/generators/turborepo/files/package.json__tmpl__
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/short-bikes-sell.md
Due: none

fix: digest
  packages/anvil/lib/commands/turborepo/digest.command.ts
  packages/devkit/lib/file-loaders/dot-anvil-config.loader.ts
  packages/devkit/lib/interfaces/dot-anvil-config.interface.ts
Due: eslint --fix

chore: updated release workflow
  .github/workflows/release.yml
Due: none

chore: changeset
  .changeset/old-lemons-invent.md
Due: none

feat(anvil-utils): added new package
  packages/anvil-utils/LICENSE
  packages/anvil-utils/README.md
  packages/anvil-utils/jest.config.js
  packages/anvil-utils/lib/index.ts
  packages/anvil-utils/lib/value-checks.utils.ts
  packages/anvil-utils/package.json
  packages/anvil-utils/test/value-checks.utils.spec.ts
  packages/anvil-utils/tsconfig.eslint.json
  packages/anvil-utils/tsconfig.jest.json
  packages/anvil-utils/tsconfig.json
  packages/anvil/lib/commands/nx/nx-app.command.ts
  packages/anvil/lib/commands/turborepo/digest.command.ts
  packages/anvil/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/ninety-turkeys-speak.md
Due: none

chore: changeset
  .changeset/popular-wombats-pay.md
Due: none

feat(devkit): removed anvil config in favor of .anvil
  anvil.json
  packages/anvil/lib/commands/turborepo/turborepo-package.command.ts
  packages/devkit/lib/file-loaders/anvil-config.loader.ts
  packages/devkit/lib/file-loaders/cwd-configs.loaders.ts
  packages/devkit/lib/file-loaders/dot-anvil-config.loader.ts
  packages/devkit/lib/file-loaders/index.ts
  packages/devkit/lib/interfaces/dot-anvil-config.interface.ts
  packages/schematics-turborepo/lib/generators/package/helpers/prepare-options.helper.ts
  packages/schematics-turborepo/lib/generators/turborepo/files/__dot__anvil.json__tmpl__
  packages/schematics-turborepo/lib/generators/turborepo/files/anvil.json__tmpl__
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/modern-suits-sneeze.md
Due: none

fix(devkit): config loader
  .changeset/lovely-hats-lick.md
  packages/devkit/lib/file-loaders/dot-anvil-config.loader.ts
Due: eslint --fix

chore: changeset
  .changeset/gold-lamps-knock.md
Due: none

chore(schematics): updated packages versions
  packages/schematics-turborepo/lib/generators/turborepo/files/package.json__tmpl__
Due: none

chore: changeset
  .changeset/quiet-pianos-rhyme.md
Due: none

chore: make packages public
  .changeset/config.json
  .changeset/tidy-donkeys-talk.md
  packages/anvil-utils/package.json
  packages/anvil/package.json
  packages/devkit/package.json
  packages/schematics-nx/package.json
  packages/schematics-turborepo/package.json
Due: prettier --write

chore: changeset
  .changeset/tame-pigs-destroy.md
Due: none

chore: changed to npm registry
  .changeset/sweet-steaks-applaud.md
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

fix(config): updated digest command, made type on targets optional
  .changeset/brown-ties-invent.md
  packages/devkit/lib/file-loaders/dot-anvil-config.loader.ts
Due: eslint --fix

fix(digest): removed obsolete anvilConfig
  packages/anvil/lib/commands/turborepo/digest.command.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: packages/**/*.{js,ts}
  prettier --write: any of: *.json
